{% extends "layout.html" %}

{% block body %}

<h1>How ndncert works and what to expect </h1>

<div class="markdown-body">
      <h2>
<a name="user-content-how-it-works" class="anchor" href="#how-it-works" aria-hidden="true"><span class="octicon octicon-link"></span></a>How it works</h2>

<h3>
<a name="user-content-name-conventions-for-ndn-certificates" class="anchor" href="#name-conventions-for-ndn-certificates" aria-hidden="true"><span class="octicon octicon-link"></span></a>Name conventions for NDN certificates</h3>

<p>ndncert directly ties the issued certificate names (= authorized namespace for the hierarchical
trust model described in NDN-0009, "Deploying Key Management on NDN Testbed" by Bian et al.)
to user email addresses.</p>

<p>In general, certificate namespace is based on institutional email addresses:</p>

<pre><code>tom@cs.ucla.edu -&gt; /ndn/edu/ucla/cs/tom
bob@wustl.edu -&gt; /ndn/edu/wustl/bob
alice@eecs.umich.edu -&gt; /ndn/edu/umich/eecs/alice
</code></pre>

<p>Non-institutional addresses and addresses of institutions that are not part of testbed
assigned guest NDN namespace:</p>

<pre><code>alex@gmail.com -&gt; /ndn/guest/alex@gmail.com
</code></pre>

<p>Which operator is responsible to signing certificates for which domain names is configured
in the web server database (<code>operators</code> collection).</p>

<h3>
<a name="user-content-basic-operations" class="anchor" href="#basic-operations" aria-hidden="true"><span class="octicon octicon-link"></span></a>Basic operations</h3>

<p><img src="https://raw.githubusercontent.com/named-data/ndncert/master/docs/overview.jpg" alt="ndncert overview"></p>

<h2>
<a name="user-content-what-to-expect" class="anchor" href="#what-to-expect" aria-hidden="true"><span class="octicon octicon-link"></span></a>What to expect</h2>

<p>To obtain a valid NDN testbed certificate, user should follow the following steps:</p>

<ul class="task-list">
<li>
<p>Go to <a href="http://ndncert.named-data.net">http://ndncert.named-data.net</a>, initiate certification by submitting email address</p>

<p><img src="https://raw.githubusercontent.com/named-data/ndncert/master/docs/user-1.jpg" alt="step 1"></p>
</li>
<li>
<p>Check mailbox and click to open certification submission page</p>

<p><img src="https://raw.githubusercontent.com/named-data/ndncert/master/docs/user-2.jpg" alt="step 2"></p>
</li>
<li>
<p>Generate certification request in the specified namespace (derived from email)</p>

<p><img src="https://raw.githubusercontent.com/named-data/ndncert/master/docs/user-3.jpg" alt="step 3"></p>
</li>
<li>
<p>Submit name, other information to associate with the certificate, and public key</p>

<p><img src="https://raw.githubusercontent.com/named-data/ndncert/master/docs/user-4.jpg" alt="step 4"></p>
</li>
<li>
<p>Wait for email notification of the approval by the site’s operator</p>

<p><img src="https://raw.githubusercontent.com/named-data/ndncert/master/docs/user-5.jpg" alt="step 5"></p>
</li>
<li>
<p>Follow the instructions to install the issued certificate</p>

<p><img src="https://raw.githubusercontent.com/named-data/ndncert/master/docs/user-6.jpg" alt="step 6"></p>
</li>
</ul><p>After final step the NDN Testbed certificate is installed and ready to be used.</p>
    </div>

<hr>

{% endblock %}
