{% extends "layout.html" %}

{% block body %}
<div id="token-request-body">

  <div class="instructions">
  Hello, please enter your email to begin NDN Testbed certification.
  (<a href="{{ url_for('show_help') }}">How it works and what to expect</a>)
  </div>
  <p/>

  <form name="input" id="input">
  Email address:
  <input type="text" name="email" id="email" class="email" size="20"></input>
  </form>
  <p/>
  
  <input type="button" id="submit-btn" value="Submit"></input>
  
  <p/>
  <div class="instructions" id="warning-div">
  </div>
</div>

<script>
document.getElementById('submit-btn').onclick = function () {
  var form = document.getElementById('input');
  var data = new FormData(form);
  var req = new XMLHttpRequest();
  
  var email = document.getElementById('email').value;
  var bodyElement = document.getElementById("token-request-body");
  
  function validateEmail(email) {
    var re = /^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$/i;
    return re.test(email);
  }
  
  if (validateEmail(email)) {  
    req.onreadystatechange = function () {
      if (req.readyState == 4) {
        try {
          var response = JSON.parse(req.responseText);
          if (response.status == 200) {
            bodyElement.innerHTML = "<div class=\"instructions\"> \
              Please check your mailbox (" + email + ") with further instructions how to proceed. \
            </div>";
          } else if (response.status == 500) {
            bodyElement.innerHTML += "<div class=\"instructions\"> \
              Error " + response.status.toString() + " : " + response.message + " \
            </div>";
          } else {
            bodyElement.innerHTML = "Unknown error.";
          }
        } 
        catch (e) {
          console.log(e);
          bodyElement.innerHTML = e;
        }
      }
    }
    
    req.open('POST', "{{ url_for('request_token') }}", true);
    req.send(data);
    
    bodyElement.innerHTML = "<div class=\"instructions\"> \
      Please wait... \
    </div>";
  } else {
    document.getElementById("warning-div").innerHTML += "Please put valid email address";
  }
}
</script>

{% endblock %}

</html>